*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #abccd1;
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container-creador{
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: #f8f9f9;
  height: 700px;
  border-radius: 1%;
  margin: 20px;
  padding: 20px;
}

h1{
  color: #5296a1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}
h2{
  color: #5296a1;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-main{
  display: flex;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.img-main{
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.container-lista{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  border-radius: 1%;
  margin: 20px;
  padding: 20px;
  background-color: none;
  align-items: center;

}

.h2Tarea{
  font-size: 3rem;
  color: black;
}